@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #fff;
  --foreground: #171717;
  --clr-lay: #232946;
  --clr-main: #b8c1ec;
  --clr-pink: #eebbc3;
  --clr-stroke: #121629;
  --clr-headline: #fffffe;
  --shadow-soft: 0 4px 12px rgb(35 41 70 / 20%);
  --shadow-strong: 0 8px 24px rgb(18 22 41 / 35%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-lay: var(--clr-lay);
  --color-main: var(--clr-main);
  --color-pnk: var(--clr-pink);
  --color-stroke: var(--clr-stroke);
  --color-hline: var(--clr-headline);

  /* Box Shadows */
  --color-shad-soft: var(--shadow-soft);
  --color-shad-str: var(--shadow-strong);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .input {
    @apply text-lay border-main placeholder:text-lay/60 focus:border-lay w-full rounded-lg border-2 bg-gray-100 px-4 py-3 transition-colors outline-none focus:bg-gray-300;
  }

  .input-error {
    @apply text-lay border-pnk placeholder:text-lay/60 focus:border-stroke w-full rounded-lg border-2 bg-gray-100 px-4 py-3 transition-colors outline-none focus:bg-gray-300;
  }
  .card-main {
    @apply bg-main text-lay border-stroke rounded-lg;
  }
  .card-lay {
    @apply bg-lay text-main border-stroke rounded-lg;
  }

  .btn {
    @apply bg-pnk text-lay w-full cursor-pointer rounded-md px-8 py-3 font-bold hover:bg-[#efa1ad] hover:text-black;
  }
  .grad-lime {
    @apply bg-gradient-to-r from-cyan-400 via-emerald-400 to-lime-300 p-6 text-zinc-900 shadow-md shadow-cyan-500/30;
  }
}

/* Box Shadows & Gradients */
.shad-soft {
  box-shadow: 0 4px 12px rgb(35 41 70 / 20%);
}

.shad-str {
  box-shadow: 0 8px 24px rgb(18 22 41 / 35%);
}

.grad-main {
  background: linear-gradient(135deg, #b8c1ec, #eebbc3);
}

.grad-deep {
  background: radial-gradient(circle at center, #232946, #121629);
}
