@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --clr-lay: #232946;
  --clr-main: #b8c1ec;
  --clr-pink: #eebbc3;
  --clr-stroke: #121629;
  --clr-headline: #fffffe;
  --shadow-soft: 0 4px 12px rgba(35, 41, 70, 0.2);
  --shadow-strong: 0 8px 24px rgba(18, 22, 41, 0.35);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-lay: var(--clr-lay);
  --color-main: var(--clr-main);
  --color-pnk: var(--clr-pink);
  --color-stroke: var(--clr-stroke);
  --color-hline: var(--clr-headline);

  /* Box Shadows */
  --color-shad-soft: var(--shadow-soft);
  --color-shad-str: var(--shadow-strong);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .card {
    @apply bg-main text-lay border-stroke rounded-lg;
  }
  .btn {
    @apply bg-pnk text-lay w-full px-8 py-4 hover:opacity-80 rounded-sm;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Box Shadows */

.shad-soft {
  box-shadow: 0 4px 12px rgba(35, 41, 70, 0.2);
}
.shad-str {
  box-shadow: 0 8px 24px rgba(18, 22, 41, 0.35);
}

/* Gradients  */

.grad-main {
  background: linear-gradient(135deg, #b8c1ec, #eebbc3);
}

.grad-deep {
  background: radial-gradient(circle at center, #232946, #121629);
}
